<div class="container">
 <div slass="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h4><strong>本当に退会しますか？</strong></h4>
<h5>
  退会すると、会員登録情報や</br>
  これまでの購入履歴が閲覧できなくなります。</br>
  退会する場合は、「退会する」をクリックしてください。
</h5>

<div class="button">
 <%= link_to customers_withdraw_path, method: :patch do %>
 <i class ="btn btn-danger">退会する</i>
 <% end %>

 <%= link_to customer_path(current_customer) do %>
 <i class="btn btn-primary">退会しない</i>
 <% end %>
</div>
</div>
</div>
</div>