<table class="table table-hover table-inverse">
<h3>商品一覧</h3>
   <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜き価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
   </tr>
   <% @items.each do |item| %>
   <tr>
     <td><%= item.itemid %></td>
     <td><%= item.name %></td>
     <td><%= item.price %></td>
     <td><%= item.genre_id %></td>
     <td>販売ステータス</td>
   </tr>
<% end %>