<h4>ジャンル一覧</h4>

<h6>ジャンル名</h6>


<table class="table table-hover table-inverse">
     <tr>
  	  <th>ケーキ</th>
  	 </tr>
  	 <tr>
  	  <th>プリン</th>
  	 </tr>
  	 <tr>
  	  <th>焼き菓子</th>
  	 </tr>
  	 <tr>
  	 <th>キャンディ</th>
    </tr>
</table>