<div class="container">
 <div slass="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h3>注文履歴一覧</h3>
<table class="table table-inverse">
<tr>
  <th>購入日時</th>
  <th>購入者</th>
  <th>注文個数</th>
</tr>
<% @orders.each do |order| %>
<tr>
  <td><%= link_to order.created_at.strftime('%Y/%m/%d'), admin_order_path(order) %></td>
  <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
　<td><%= order.total_amounts %></td>
</tr>
<% end %>
</table>



